<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/img/favicon.png" />
    <link rel="stylesheet" href="/css/404.css">
    <title>404 - URL not found</title>
</head>

<body>
    <div class="section">
        <h1 class="error">404</h1>
        <div class="page">Oops, the URL you requested was not found on this server.</div>
        <a class="back" href="../">Return to homepage</a>
    </div>
</body>

</html>